$black_color: #000;
$white_color: #fff;
$light_blue_color: #E1F5FE;
$red_color: #DC3545;
$dark_red_color: #C82333;
$light_green_color: #e9f7d7;
$green_color: #28A745;
$dark_green_color: #218838;
$grey_color: #F5F5F5;
$dark_grey_color: #3b3e46;
$orange_color: #ffc107;
$dark_orange_color: #e0a800;
$light_orange_color: #FFE082;
$aqua_color: #17a2b8;
$dark_aqua_color: #138496;
$light_yellow_color: #FFE0B2;

$tablet_width: 999px;
$mobile_width: 479px;