<div id="filter-dialog" class="dialog-modal">
    <div class="dialog">
        @*Шапка диалога*@
        <div class="dialog-header">
            <h3>Фильтры</h3>
        </div>

        @*Тело диалога*@
        <div class="dialog-body">
            <div class="form-group">
                <label for="startDate" class="form-label">Дата с: </label>
                <input id="startDate" type="date" class="form-input" />
            </div>

            <div class="form-group">
                <label for="endDate" class="form-label">Дата по: </label>
                <input id="endDate" type="date" class="form-input" />
            </div>
            
            <div class="form-group">
                <label for="ownRecords" class="form-label">Мои записи</label>

                <div class="form-checkbox">
                    <input id="ownRecords" type="checkbox" />
                </div>
            </div>
        </div>

        @*Подвал диалога*@
        <div class="dialog-footer">
            <button type="button" class="btn btn-add" onclick="{ hideDialog(); filterElements('@Url.Action("SearchAJAX")') }">Применить</button>
            <button type="button" class="btn btn-cancel" onclick="hideDialog()">Отмена</button>
            <button type="button" class="btn btn-default" onclick="{ hideDialog(); clearFilterDialog(['#startDate', '#endDate'], ['#ownRecords']); filterElements('@Url.Action("SearchAJAX")') }">Сбросить</button>
        </div>
    </div>
</div>